.contact {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_container{
    height: 100vh;
    padding-block: 100px;
}

.contact_container .title_container{
    max-width: 350px;
    margin-inline: auto;
}

#contact .conact_form-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

    margin-top: -40vh;
}

#contact .col-6{
    width: 60%;
}

#contact iframe{
    width: 100%;
    height: 450px;
    margin-bottom: 50px;
    border-radius: 10px;
}
#contact .col-4{
    padding-left: 30px;
    width: 40%;
}

#contact .col-5 {
    width: 48%;
}

#contact .contact_form .input_container{
    margin-bottom: 30px;
}
#contact .contact_form button{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #222;
    color: #fff;
}

#contact .conact_blocks-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#contact .conact_blocks-container .contact_block{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    #contact .col-4,
    #contact .col-5,
    #contact .col-6{
        width: 100%;
    }

    #contact .col-4{
        padding-left: 0px;
        margin-top: 50px;
    }
}