.contact {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact_container{
    height: 100vh;
    padding-block: 100px;
}

.contact_container .title_container{
    max-width: 350px;
    margin-inline: auto;
}