.nav_button{
    background-color: black;
    border-radius: 20px;
    color: #fff;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.nav_button div{
    width: 40px;
    aspect-ratio: 1;
    border-radius: 20px;
    background-color: #f35525;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_button p{
    padding: 0 10px;
}